*{
    margin: 0;
    padding: 0;
}
body{
    background-color: darkslategrey;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:2vmin ;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    text-shadow: none;
    background-color: darkcyan;
    color: black;
}
#Reset-btn{
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    border: none;
    color:white;
    background-color:black;
}
#New-btn{
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    border: none;
    color:white;
    background-color: black;
}
#msg{
    color: rgb(5, 117, 7);
    font-size: 5vmin;
    background-color: black;
    font-style: italic;
}
.msg-container{
 height: 30vmin;
}
.hide{
    display: none;
}